<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeyfuc.tasklist.repository.TaskRepository">
    <resultMap id="TaskResultMap" type="com.honeyfuc.tasklist.domain.task.Task" autoMapping="false">
        <id property="id" column="task_id"/>
        <result property="title" column="task_title"/>
        <result property="description" column="task_description"/>
        <result property="status" column="task_status"/>
        <result property="expirationDate" column="task_expiration_date"/>
    </resultMap>

    <select id="findById" resultMap="TaskResultMap">
        SELECT t.id AS task_id,
        t.title AS task_title,
        t.description AS task_description,
        t.status AS task_status,
        t.expiration_date AS task_expiration_date
        FROM tasks t
        WHERE t.id = #{id}
    </select>

    <select id="findAllByUserId" resultMap="TaskResultMap">
        SELECT t.id AS task_id,
        t.title AS task_title,
        t.description AS task_description,
        t.status AS task_status,
        t.expiration_date AS task_expiration_date
        FROM tasks t
        JOIN users_tasks ut on t.id = ut.task_id
        WHERE ut.user_id = #{userId}
    </select>

    <insert id="assignToUserById">
        INSERT INTO users_tasks (user_id, task_id)
        VALUES (#{taskId}, #{userId})
    </insert>

    <update id="update">
        UPDATE tasks
        SET title = #{title}, description = #{description}, status = #{status}, expiration_date = #{expirationDate}
        WHERE id = #{id}
    </update>

    <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO tasks (title, description, status, expiration_date)
        VALUES (#{title}, #{description}, #{status}, #{expirationDate})
    </insert>

    <delete id="delete">
        DELETE FROM tasks
        WHERE id = #{id}
    </delete>

</mapper>